input[type=text], input[type=password], input[type=submit], input[type=button], button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: forestgreen;
}

input[type=button], button {
    width: 49%;
}

input[type = submit]:hover {
    cursor: pointer;
}
